header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #fff;
  background: linear-gradient(130deg, black, rgb(79,75,75) 100%);
}

header.masthead .header-content h1 {
  font-size: 60px;
}

@media (min-width:992px) {
  header.masthead .header-content h1 {
    font-size: 100px;
  }
}

#sec-main {
  background: linear-gradient(black 0%, rgb(79,75,75));
}

.thumbnail-list {
  list-style-type: none;
  padding: 0;
}

.thumbnail-list p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.thumbnail-list li:hover {
  background: #cccccc;
  cursor: pointer;
  transition: 0.5s ease;
}

.thumbnail-list li {
  overflow: auto;
  border-radius: 0.5em;
  padding: 10px;
  margin: 10px 0;
}

.thumbnail-list a, thumbnail-list a:hover {
  color: initial;
  text-decoration: initial;
}

.site-ref {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}

.site-ref h6 {
  padding-left: 40px;
  margin-bottom: 0px;
}

.site-ref img {
  position: absolute;
  top: 0px;
  border-radius: 0.5em;
}

#get-the-facts-card {
  background: #f2f2f2;
}

#nopic-heading {
  font-size: 4rem;
  margin-bottom: 1rem !important;
}

#sec-info p {
  max-width: 620px;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.3rem;
  color: white;
  opacity: 0.9;
}

#sec-info {
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}

.faq-list li {
  display: flex;
  align-items: center;
}

.faq-list h4 {
  margin: 0;
}

#download-flex {
  display: flex;
  flex-wrap: wrap;
}

#download-flex img {
  position: absolute;
  height: 70%;
  max-height: 200px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#download-flex a {
  min-width: 250px;
  overflow: hidden;
  width: 50%;
  height: 0;
  padding-bottom: max(50%, 250px);
  position: relative;
  transition: transform 250ms;
}

@media (min-width: 992px) {
  #download-flex a {
    width: 30%;
    padding-bottom: 30%;
  }
}

@media (min-width: 1200px) {
  #download-flex a {
    width: 25%;
    padding-bottom: 30%;
  }
}

#content-row {
  padding-top: 100px;
  padding: 0 0.5rem;
}

.card {
  margin: 2rem 0rem;
  background: rgba(255,255,255,0.9);
}

.content {
  position: absolute;
  height: 80%;
  width: 80%;
  margin: 10%;
}

#download-flex a:hover {
  transform: scale(1.25);
}

#reasons-list {
  padding-left: 20px;
}

#reasons-list li {
  margin-top: 15px;
}

.sublist li {
  margin-top: 0px !important;
}

.nav-btn {
  background-color: #6a6363;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: lowercase;
  font-family: monospace;
}

#subheading {
  color: #bcb6b6;
  margin-bottom: 5rem;
  font-size: 2rem;
}

#heading-div {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  background-color: #9f9797;
  transition: 1s;
}

span.avoidbreak {
  display: inline-block;
}

#sec-start {
  background: #000;
  height: 100vh;
}

.card-title {
  text-align: center;
}

#mainNav .nav-link {
  cursor: pointer;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #decfcf;
}

#mainNav.navbar-shrink a:hover {
  color: #a49797 !important;
}

.nav-box:hover {
  cursor: pointer;
  color: #fcbd20;
  transition: 0.25s;
}

.nav-box {
  margin-top: 2rem;
  font-size: 0.9rem;
  display: flex;
  opacity: 0.9;
  color: white;
  align-items: center;
}

.nav-box h6 {
  font-size: 18px;
  font-family: monospace;
  margin: 0;
}

