html {
  scroll-padding-top: 100px;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #fff;
  background: linear-gradient(130deg, black, rgb(79,75,75) 100%);
}

header.masthead .header-content h1 {
  font-size: 60px;
}

@media (min-width:992px) {
  header.masthead .header-content h1 {
    font-size: 100px;
  }
}

#sec-main {
  background: linear-gradient(black 0%, rgb(79,75,75));
  padding-bottom: 50px;
}

.thumbnail-list {
  list-style-type: none;
  padding: 0;
}

.thumbnail-list p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.thumbnail-list li:hover {
  background: #cccccc;
  cursor: pointer;
  transition: 0.5s ease;
}

.thumbnail-list li {
  overflow: auto;
  border-radius: 0.5em;
  padding: 10px;
  margin: 10px 0;
}

.thumbnail-list a, thumbnail-list a:hover {
  color: initial;
  text-decoration: initial;
}

.site-ref {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}

.site-ref h6 {
  padding-left: 40px;
  margin-bottom: 0px;
}

.site-ref img {
  position: absolute;
  top: 0px;
  border-radius: 0.5em;
  width: 32px;
  height: 32px;
}

#get-the-facts-card {
  background: #f2f2f2;
}

#nopic-heading {
  font-size: 4rem;
  margin-bottom: 1rem !important;
}

#sec-info p {
  max-width: 620px;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.3rem;
  color: white;
  opacity: 0.9;
}

#sec-info {
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}

.faq-list li {
  display: flex;
  align-items: center;
}

.faq-list h4 {
  margin: 0;
}

#download-flex {
  display: flex;
  flex-wrap: wrap;
}

#download-flex img {
  position: absolute;
  height: 70%;
  max-height: 200px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#download-flex a {
  min-width: 250px;
  overflow: hidden;
  width: 50%;
  height: 0;
  padding-bottom: max(50%, 250px);
  position: relative;
  transition: transform 250ms;
}

@media (min-width: 992px) {
  #download-flex a {
    width: 30%;
    padding-bottom: 30%;
  }
}

@media (min-width: 1200px) {
  #download-flex a {
    width: 25%;
    padding-bottom: 30%;
  }
}

#content-row {
  padding-top: 100px;
  padding: 0 0.5rem;
}

.card {
  margin: 2rem 0rem;
  background: rgba(255,255,255,0.9);
  border-radius: 1rem;
}

.content {
  position: absolute;
  height: 80%;
  width: 80%;
  margin: 10%;
}

#download-flex a:hover {
  transform: scale(1.25);
}

#reasons-list {
  padding-left: 20px;
}

#reasons-list li {
  margin-top: 15px;
}

.sublist li {
  margin-top: 0px !important;
}

#subheading {
  color: #bcb6b6;
  margin-bottom: 5rem;
  font-size: 2rem;
}

#heading-div {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn:hover, .nav-btn:focus, .nav-btn:active {
  background-color: #9f9797;
  transition: 1s;
}

span.avoidbreak {
  display: inline-block;
}

#sec-start {
  background: #000;
  height: 100vh;
}

.card-title {
  text-align: center;
}

.nav-box:hover {
  cursor: pointer;
  color: #fcbd20;
  transition: 0.25s;
}

.nav-box {
  margin-top: 2rem;
  font-size: 0.9rem;
  display: flex;
  opacity: 0.9;
  color: white;
  align-items: center;
}

.nav-box h6 {
  font-size: 18px;
  font-family: monospace;
  margin: 0;
}

.nav-btn {
  background-color: #6a6363;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: lowercase;
  font-family: monospace;
}

.darker-link {
  color: black;
  text-decoration: underline;
}

/* START Language picker in navbar */

.dropdown {
  display: inline-block;
  font-size: 12px;
  font-family: Lato,Helvetica,Arial,"sans-serif";
  letter-spacing: 2px;
}

.dropdown-content {
  display: none;
  background: transparent;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 0px;
  border-left: solid 1px black;
}

@media (min-width: 992px) {
  .dropdown-content {
    border-left: solid 1px rgb(255,255,255);
  }
}

.navbar-shrink .dropdown-content {
  border-left-color: black;
  background: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  position: relative;
  left: -1px;
  top: -8px;
  color: black;
  display: block;
  line-height: 1.8;
  cursor: pointer;
}

.dropdown-content a:hover {
  display: block;
  text-decoration: initial;
}

@media (min-width: 992px) {
  .dropdown-content a {
    color: white;
  }
}

.navbar-shrink .dropdown-content a {
  color: black;
}

.dropdown .nav-link {
  font-size: 12px;
  font-family: Lato,Helvetica,Arial,"sans-serif";
  letter-spacing: 2px;
}

.lang-dropdown {
  font-weight: bold;
  border-left: solid 1px black;
  color: black;
}

.lang-dropdown:hover, .dropdown-content a:hover {
  font-weight: bold !important;
}

@media (min-width: 992px) {
  .lang-dropdown {
    border-left: solid 1px white;
    color: #fff !important;
  }
}

@media (min-width: 992px) {
  .lang-dropdown:hover, .dropdown-content a:hover {
    color: #999999 !important;
  }
}

@media (min-width: 992px) {
  #lang-dropdown-mobile {
    display: none;
    color: #000000 !important;
  }
}

.navbar-shrink .lang-dropdown {
  border-left: solid 1px black;
  color: #000000 !important;
}

@media (max-width: 991px) {
  #langdrop-down-desktop {
    display: none;
  }
}

.navbar-lang-extension {
  background: rgba(255,255,255,0.87);
  height: 18px;
}

@media (min-width: 992px) {
  .navbar-lang-extension {
    background: rgb(0,0,0);
  }
}

.navbar-shrink .navbar-lang-extension {
  background: rgba(255,255,255,0.87);
}

/* Increase the language picker size for mobile version */

#lang-dropdown-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

#lang-dropdown-wrapper .navbar-lang-extension {
  height: 30px;
}

#lang-dropdown-wrapper .dropdown-content a {
  top: 0px;
}

/* This class is toggled through click on the burger-menu - for more info check main.js toggle_langpick_color() */

.transparent-bg {
  background: transparent;
}

/* This class is added to the link which redirects page to switch the language */

.langswitch {
  cursor: pointer;
}

/* END Language picker */

/* ---------------------------- */

/* START Navbar customisation */

/* For vertically centered alignment of nav-items */

.nav-item {
  display: flex;
  align-items: center;
}

/* Navbar-links colors */

#mainNav .navbar-shrink > li > a {
  font-size: 12px;
  color: rgba(255,255,255,0.85);
}

#mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:hover {
  color: #7a6e6e;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:hover {
    color: #fff;
  }
}

#mainNav.navbar-shrink a:hover, #lang-dropdown-wrapper a:hover {
  color: #7a6e6e !important;
}

#mainNav .nav-link {
  cursor: pointer;
}

/* Navbar bg-color */

@media (min-width:992px) {
  #mainNav.navbar-shrink {
    background-color: rgba(255,255,255,0.87);
  }
}

#mainNav {
  background-color: rgba(255,255,255,0.87);
}

@media (min-width:992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
}

/* Navbrand color */

#mainNav .navbar-brand {
  color: black;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: white;
  }
}

#mainNav.navbar-shrink .navbar-brand {
  color: black;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #7a6e6e;
}

.navbar-collapse {
  padding-left: 1rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    padding-left: initial;
  }
}

/* END Navbar customisation */

/* START Footer custimisation */

.footer-flex {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.footer-flex h6 {
  color: hsla(0,0%,100%,.3);
}

.footer-flex-item {
  margin: 0 10px;
}

.footer-flex a {
  color: hsla(0,0%,100%,.3);
}

.footer-flex a:hover {
  color: #fcbd20;
}

/* This is for the #blankpic 2020 which shouldn't be clicked but should have the same design as a link */

.footer-flex-item.useless-link:hover {
  color: hsla(0,0%,100%,.3) !important;
  text-decoration: initial;
}

/* END Footer customisation */

/* IMPRESSUM classes */

.sec-impressum {
  background: black;
  min-height: 100vh;
  color: white;
}

.div-impressum {
  max-width: 700px;
  margin: auto;
}

.div-impressum h3, .div-impressum p {
  text-align: left;
}

/* END IMPRESSUM classes */

